@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Oswald:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Titillium+Web:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    

}

                                    /* home page css start */

.home_div
        {
                height: 100vh ;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                background:  #589b95 ;
        }

.first_home_div
        {
                padding: 5rem 1rem;
                width: 50%; 
                text-align: center;  
                background-color: #84c4ee ;  
        }
.home_heading
        {
               font-size: 3rem;
               letter-spacing: 0.2rem;
               text-transform: capitalize;
        font-weight: 900;
        } 
.home_button
        {
            font-size: 1.7rem;  
            letter-spacing: 0.1rem;
            margin: 1rem 0;
            padding: 0.3rem 1.5rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            border: 2px solid #589b95;
            border-radius: 0.5rem;
            text-transform: capitalize; 
            color: #16A085 ;  
        }       
.home_button:hover
        {
            background-color:  #16A085;
            color: white;
        }
                                        /* home page css end */

@media only screen and (max-width: 1000px) {

                                 /* home page responsive 1000 css start */

.home_div
    {
            height: 100vh ;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
      

    }
.first_home_div
    {
            padding: 5rem 0.8rem;
            width: 70%; 
            text-align: center;  
            
    } 
.home_heading
    {
               font-size: 2.5rem;
               letter-spacing: 0.2rem;
               text-transform: capitalize;
               font-weight: 900;
    } 
.home_button
    {
               font-size: 1.3rem;  
               letter-spacing: 0.1rem;
               margin: 1rem 0;
               padding: 0.2rem 1.2rem;
               
              
    }
                                  /* home page responsive 1000 css end */

  }

@media only screen and (max-width: 500px) {

                                  /* home page responsive 600 css start */
.home_div
    {
            height: 100vh ;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
           
    }
.first_home_div
    {
            padding: 5rem 0.6rem;
            width: 80%; 
            text-align: center;  
            
    }          
.home_heading
    {
            font-size: 2rem;
            letter-spacing: 0.2rem;
            text-transform: capitalize;
            font-weight: 900;
     }                  
.home_button
     {
            font-size: 1rem;  
            letter-spacing: 0.1rem;
            margin: 1rem 0;
            padding: 0.2rem 1rem;
            
           
             
           
     }
     

                                  /* home page responsive 600 css end  */
  }